<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    
     <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
 <script src="../jq/jquery.js" type="text/javascript">
    </script>
    <script src="../js/bootstrap.js" type="text/javascript"> </script>
   
</head>
<body>
    <a href="/in/<%=employees._id%>" class="mt-1 ms-2 cc btn btn-secondary"
        data-toggle="tooltip" data-placement="right" title="Check Current status And other records">Back</a>
<div class="container cc">
    <% if(employees.outtime==undefined){ %>
        <h3 class="my-3 text-center kk">Please click on <b>confirm checkout?</b> 
            below for successfull checkout </h3>
        
    <% } else{ %>  
      
        <h3 class="my-3 text-center kg">
        you have successfully checkedout 💛   
        </h3>
        <% } %>
 <div class="row">
  <div class=" offset-md-3 col-md-6 mt-5">
   <table class="table cc table-responsive table-bordered table-lg">
     <thead class="thead-dark mt-5">
           <th>
                Info
            </th>
   <th>
       Details
   </th>
       </thead>               
<tbody>
    
    <tr>
        <td>Name</td>
        <td><%=employees.name%></td>
         
    </tr>
    <tr>
        <td>Phone</td>
        <td><%=employees.phone%></td>
         
    </tr>
            <tr>
<td>
    Email
</td>
<td>
    <%=employees.email%>
</td>

            </tr>
    <tr>
<td>
    Intime
</td>
<td><%=employees.intime%></td>

    </tr>
    <tr>
        <td>
            Out-Time
        </td>
        <td><%=employees.outtime%></td>
    </tr>
</tbody>

   </table>
   
  </div>

 </div>
 <h3 class="text-center mt-5 end_line">On behalf of CodeRaja team we thanks you for the visit <br/>See You soon!.. 😃 
 <br/>
 <% if(employees.outtime==undefined){ %>

    <a href="/out/<%=employees._id%>" class="mt-3 btn btn-secondary text-center"
    data-toggle="tooltip" data-placement="right" title="Check Current status And other records">Confirm checkout?</a>


<% } else{ %>  
  <a href="/" class="mt-3 btn btn-secondary text-center"
  data-toggle="tooltip" data-placement="right" title="Check Current status And other records">Enter Again</a>

    <% } %>
</h3>
</div>
</body>
</html>