<%- include("../partials/header") %>
<body>
    
  <a href="/in/<%=employee._id%>" class="btn btn-primary text-center mt-3 ms-3">back</a>
  
<div class="container">
  <h1 class="text-center cc mt-3 hk"> All Records Of The Visitors </h1>
  
  <div class="row">
    <div class="mt-5 col-md-12">
      
      <table class="table table-lg table-responsive-sm cc">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">InTime</th>
            <th scope="col">Out-time</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% for(let item of employees){%>
            <tr>
    <td><%=item.name%></td>
    <td class="mail"><%=item.email%></td>
    <td><%=item.phone%></td>
    <td><%=item.intime%></td>
    <td class="out"><%=item.outtime%></td>
    <!-- <%if(item.outtime!=""){%> 
      <td class="text-successs" >In</td>
      <%}%> -->
      <% if(item.outtime!=undefined){ %>
        <td class="text-danger">Out</td>
      <% } else{ %>  
        <td class="text-success">In</td>
     <% } %>
    </tr>
    <%}%>
   
  </tbody>
</table>
</div>
</div>

</div>



</body>

</html>
 